

.navigationWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    background-color: var(--white);
    padding: 15px 15px;
    border-radius: 25px;
    align-items: center;
    width:100%;
}
.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 12px;
    width: 100%;
   
}
.iconWrapperActive {
    background-color: var(--secondary-color);

}

.iconActive {
    color: var(--primary-color);
    filter: drop-shadow(0px 0px 10px var(--primary-color));

}
.icon {
    color: var(--gray);

}







